body {
    background-color: #f8f5f2;
    padding: 0px 50px 0px 50px;
}

.top-nav {
    padding: 20px 30px 20px 30px;
}

.top-nav-sub1 {
    display: flex;
    justify-content: space-between;
}

#default {
    margin: 10px 0px 0px 0px;
}

.login-link {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    background-color: #ff8033;
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
    color: white;
}

.login-link:visited {
    color: white;
}

.hidden {
    display: none;
}

#iscookie {
    margin: 10px 0px 0px 0px;
    font-size: 1.2em;
    font-weight: 700;
}

.new-post-button {
    border: solid 1px black;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.new-post-button:hover {
    border: solid 1px #ff8033;
    color: #ff8033;
}

#user-link {
    text-decoration: none;
    color: black;
}

.user-name {
    margin: 0px 0px 0px 20px;
    cursor: pointer;
    padding: 0px 0px 5px 0px;
}

.main-content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1800px;
    width: 100%;
}

ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: flex-start;
}

.post-item {
    flex: 0 0 calc(20% - 10px);
    box-sizing: border-box;
    max-width: 400px;
    border: solid 1px #ddd;
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-right: 10px;
    position: relative;
    height: 300px;
    overflow: hidden;
}
.post-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.post-item .image-box {
    width: 100%;
    height: 180px;
    background-color: #e8e2e0;
    margin-bottom: 20px;
}

.post-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0px 20px 0px 20px;
}

.post-item p {
    color: black;
    margin: 0px 20px 0px 20px;
}

.post-item a:hover {
    color: #ff8033;
}