<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/postform.css">
</head>
<body>
    <form th:action="@{/posts/create}" th:method="post" onsubmit="setUsername()">
        <div class="title-box">
            <label for="title"></label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요">
        </div>
        <div class="name-box">
            <label for="username"></label>
            <input type="text" id="username-display" readonly>
            <input type="hidden" id="username" name="username">
        </div>
        <div class="content-box">
            <label for="content"></label>
            <textarea id="content" name="content" placeholder="당신의 이야기를 적어보세요..."></textarea>
        </div>
        <div class="button-box">
            <button type="submit" class="create-button">출간하기</button>
        </div>
    </form>

    <script>
        function getCookieValue(name) {
            let value = `; ${document.cookie}`;
            let parts = value.split(`; ${name}=`);
            if (parts.length === 2)
                return parts.pop().split(';').shift();
        }

        function setUsername() {
            const usernameHiddenField = document.getElementById('username');
            const username = getCookieValue('username');
            if (username) {
                usernameHiddenField.value = username;
            } else {
                console.error('유저 이름을 쿠키에서 찾을 수 없습니다.');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const usernameDisplayField = document.getElementById('username-display');
            const username = getCookieValue('usernick');
            if (username) {
                usernameDisplayField.value = username;
            } else {
                console.error('유저 이름을 쿠키에서 찾을 수 없습니다.');
            }
        })
    </script>
</body>
</html>